/* General Settings  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', serif;
}


img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

.header-not-display {
    display: none;
}

/* COLUMN CONTAINER  */
.col-container {
    height: calc(100% - 90px);
    background-color: #151922;
    display: flex;
}

/* SIDEBAR CONTAINER  */
.col-container .sidebar {
    width: 75px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #000000;
    padding-top: 25px;
    color: #5c5c5c;
    font-size: 18px;
    overflow-y: auto;
}

.pad-20 {
    padding-left: 20px;
    padding-right: 20px;
}

/* LOGO  */
.sidebar .logo {
    margin-bottom: 30px;
    padding: 0 20px;
}

/* MENU  */
.sidebar .menu {
    margin-bottom: 75px;
}

.sidebar .menu-list li {
    margin-bottom: 12px;
    border: 2px solid transparent;
}

.sidebar .menu-list li a{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.sidebar .menu-list li img {
    opacity: 0.5;
    height: 25px;
    width: 25px;
}

.sidebar .menu-list li.home {
    border-left: 3px solid #b8f260;
}

/* Hover  */

.sidebar a:hover {
    color: white;
}


.sidebar a img:hover {
    opacity: 1;
}
.sidebar

 /* Playlist  */

 .sidebar .playlist {
    margin-bottom: 30px;
 }

 .sidebar .playlist h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
 }
 .sidebar .playlist .playlist-create {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
 }
.sidebar .playlist .playlist-create .add {
    background-color: #5c5c5c;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.sidebar .playlist .playlist-list li {
    margin-bottom: 20px;
}

/* Hover Playlist  */

.sidebar .playlist .playlist-create .add:hover {
    background-color: white;
}


/* Sidebar foot  */
.sidebar-foot {
    margin-top: auto;
}
.sidebar-foot a {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-foot .download img  {
    filter: brightness(0.5);
    width: 30px;
}

.sidebar-foot .account #account-name {
    color: #ffffff;
    font-weight: bold;
}
.sidebar-foot .account img  {
    border-radius: 50%;
    background-color: #666666;
    width: 30px;
    height: 30px;
}


.sidebar-foot hr {
    height: 2px;
    width: 95%;
    margin: 0 auto;
    border: 0;
    background-color: #ffffff;
    display: none;
}

/* Hover  */

.sidebar-foot .account #account-name:hover {
    text-decoration: underline;
    transform: scale(1.05);
}


/* MAIN CONTAINER  */
.col-container .main-container {
    position: relative;
    width: calc(100% - 75px);
    overflow-y: auto;
}

/* HEADER BAR  */
header {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
}
.main-container .header-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    padding: 20px 50px;
    text-align: right;
}

/* upgrade button  */
.header-bar .upgrade {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: bold;
}

.header-bar .upgrade:hover {
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

/* MAIN CONTENT  */
.main-content{
    margin-top: 50px;
    color: #7b7e82;
}

/* Discovery Bar  */
.main-content .discovery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.main-content .discovery .discovery-category  .category{
    width: calc((100% - 100px) / 6 )
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.main-content .discovery .discovery-category  .category a:hover {
    color: white;
}

.main-content .discovery .discovery-category .glow-bar {
    width: 40%;
    margin: 0 auto;
    /* background-color: transparent; */
    border: 2px solid transparent;
}

.main-content .discovery .evidenza .glow-bar{
    border-color: #adff2f;
}

/* Album Container  */
.main-content .album-container {
    padding: 40px 20px;
}

.main-content .album-container h2 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.main-content .album-container h4 {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* Playlist Container  */
.album-container .playlist-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    gap: 10px;
}

.album-container .playlist-container .playlist-content {
    width: calc((100% - 10px) / 2);
    text-align: center;
    height: 100%;
}

.album-container .playlist-subtitle {
    margin-top: 5px;
}

/* Hover play button section  */

.image-container {
    position: relative;
}

.image-container .play-btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.image-container .play-btn .fa-play {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid white;
    border-radius: 50%;
    padding-left: 5px;
}

.popular-artists .image-container .play-btn {
    border-radius: 50%;
}

.playlist-content:hover .image-container .play-btn {
    display: flex;
    cursor: pointer;
}

/* Artists section  */
.popular-artists img {
    border-radius: 50%;
}

/* footer  */

footer{
    height: 90px;
    background-color: #282828;
    width: 100%;
}

.footer-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

/* Song section  */

.footer-bar .song-section {
    width: 170px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Song  */
.footer-bar .song-section .song {
    display: flex;
    gap: 10px;

}

.footer-bar .song-section .song-info a {
    display: block;
}

.footer-bar .song-section .song-info #artist-name {
    font-weight: bold;
    font-size: 15px;
}

.footer-bar .song-section .song-info #song-name {
    color: #878787 ;
    font-weight: bold;
    font-size: 13px;
}

.footer-bar .song-section .song .image {
    align-content: center;
}

.footer-bar .song-section .song img {
    width: 50px;
}

/* Likes  */
.footer-bar .song-section .like {
    margin-right: 0;
}

.footer-bar .song-section .like a {
    display: block;
}


/* Reproduce section  */

.reproduce-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.reproduce-section .commands {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.reproduce-section .commands .play-btn {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 3px solid white;
    border-radius: 50%;

}

.reproduce-section .commands .play-btn .fa-play {
    margin-left: 3px;
}

/* Volume Section  */

.volume-section {
    width: 170px;
    flex-shrink: 0;
    display: flex;
    gap: 8px;
}

.volume-section .icons {
    display: flex;
    gap: 8px;
}

.volume-section .volume-bar {
    width: 60%;
    display: flex;
}

.volume-section .bar {
    height: 4px;
    width: 100%;
    background-color: #5a5a5a;
    border-radius: 8px;
    align-self: center;
}

.volume-section .inside-bar{
    display: block;
    width: 30%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 8px;
}