/* General Settings  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', serif;
}


img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    all: unset;
    cursor: pointer;
}

.header-not-display {
    display: none;
}

/* COLUMN CONTAINER  */
.col-container {
    height: calc(100% - 90px);
    background-color: #151922;
    display: flex;
}

/* SIDEBAR CONTAINER  */
.col-container .sidebar {
    width: 75px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #000000;
    padding-top: 25px;
    color: #5c5c5c;
    font-size: 18px;
    overflow: hidden;
}

.pad-20 {
    padding-left: 20px;
    padding-right: 20px;
}

/* LOGO  */
.sidebar .logo {
    margin-bottom: 30px;
    padding: 0 20px;
}

/* MENU  */
.sidebar .menu {
    margin-bottom: 75px;
}

.sidebar .menu-list li {
    margin-bottom: 12px;
    border: 2px solid transparent;
}

.sidebar .menu-list li a{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.sidebar .menu-list li img {
    filter: brightness(0.5);
    height: 25px;
    width: 25px;
}

.sidebar .menu-list li.home {
    border-left: 2px solid #b8f260;
}


 /* Playlist  */

 .sidebar .playlist {
    margin-bottom: 30px;
 }

 .sidebar .playlist h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
 }
 .sidebar .playlist .playlist-create {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
 }
.sidebar .playlist .playlist-create .add {
    background-color: #5c5c5c;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.sidebar .playlist .playlist-list li {
    margin-bottom: 20px;
}

/* Sidebar foot  */
.sidebar-foot {
    margin-top: auto;
}
.sidebar-foot a {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-foot .download img  {
    filter: brightness(0.5);
    width: 30px;
}

.sidebar-foot .account #account-name {
    color: #ffffff;
    font-weight: bold;
}
.sidebar-foot .account img  {
    border-radius: 50%;
    background-color: #666666;
    width: 30px;
    height: 30px;
}


.sidebar-foot hr {
    height: 2px;
    width: 95%;
    margin: 0 auto;
    border: 0;
    background-color: #ffffff;
    display: none;
}



/* MAIN CONTAINER  */
.col-container .main-container {
    position: relative;
    width: calc(100% - 75px);
    background-color: #151922;
}

/* HEADER BAR  */
header {
    width: 100%;
    height: 90px;
    position: fixed;
    margin-bottom: 90px;
    top: 0;
    right: 0;
}
.main-container .header-bar {
    width: 100%;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    display: flex;
    padding: 18px;
    justify-content: flex-end;
}

/* upgrade button  */
.header-bar .upgrade {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: bold;
}


/* MAIN CONTENT  */
.main-content{
    margin-top: 110px;
    overflow-y: scroll;
    color: #7b7e82;
}


.main-content .discovery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.main-content .discovery .discovery-category  .category{
    min-width: calc((576px - 45px) / 4 )
    font-size: px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.main-content .discovery .discovery-category .glow-bar {
    width: 40%;
    margin: 0 auto;
    /* background-color: transparent; */
    border: 2px solid transparent;
}

.main-content .discovery .evidenza .glow-bar{
    border-color: #adff2f;
}


.main-content .album-container {
    padding: 40px;
}

.main-content .album-container h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.main-content .album-container h4 {
    color: #ffffff;
}



/* footer  */

footer{
    height: 90px;
    background-color: #282828;
    width: 100%;
}

