@media screen and (min-width: 478px) {

    .col-container {
        height: calc(100% - 180px);
    }

    /* SIDEBAR  */

    .col-container .sidebar {
        width: 400px;
    }

    /* Logo  */

    .sidebar .logo {
        margin-bottom: 60px;
    }

    .sidebar .logo #small-logo {
        display: none;
    }

    .sidebar .logo #big-logo {
        display: block;
    }

    /* Menu  */

    .sidebar .menu-list li {
        justify-content: left;
        margin-bottom: 12px;
    }

    .sidebar .menu-list li img {
        height: 50px;
    }

    .sidebar .menu-list li .category {
        display: block;
    }

    /* MAIN CONTAINER  */
    .main-container .header-bar {
        height: 180px;
    }

    .footer-bar {
        height: 180px;
    }
}