@media screen and (min-width: 478px) {

    .col-container {
        height: calc(100% - 180px);
    }

    /* SIDEBAR  */

    .col-container .sidebar {
        width: 400px;
    }

    .sidebar .logo #small-logo {
        display: none;
    }

    .sidebar .logo #big-logo {
        display: block;
    }

    /* MAIN CONTAINER  */
    .main-container .header-bar {
        height: 180px;
    }

    .footer-bar {
        height: 180px;
    }
}