/* General Settings  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}


img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    all: unset;
    cursor: pointer;
}


/* COLUMN CONTAINER  */
.col-container {
    height: calc(100% - 90px);
    background-color: #151922;
    display: flex;
}

/* SIDEBAR CONTAINER  */
.col-container .sidebar {
    width: 75px;
    flex-shrink: 0;
    background-color: #000000;
    padding: 25px 20px;
    color: #5c5c5c;
    font-size: 20px;
    overflow-y: scroll;
}

/* LOGO  */
.sidebar .logo {
    margin-bottom: 30px;
}

.sidebar .logo #big-logo {
    display: none;
}

/* MENU  */
.sidebar .menu {
    margin-bottom: 75px;
}

.sidebar .menu-list li {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-bottom: 12px;
}

.sidebar .menu-list li .category {
    display: none;
}

.sidebar .menu-list li img {
    height: 25px;
}
 /* Playlist  */

 .sidebar .playlist {
    display: none;
 }

 .sidebar .playlist h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
 }
 .sidebar .playlist .playlist-create {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 50px;
 }
.sidebar .playlist .playlist-create .add {
    background-color: #5c5c5c;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: black;
    font-size: 20px;
}

.sidebar .playlist .playlist-list li {
    margin-bottom: 40px;
}

/* MAIN CONTAINER  */
.col-container .main-container {
    width: calc(100% - 90px);
    background-color: #151922;
}

.main-container .header-bar {
    height: 90px;
    background-color: #10151b;
}
/* footer  */

footer{
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}